html,
body,
canvas {
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    /* Position game in center of page. */
    display: flex;
    justify-content: center;
    align-items: center;
}
